* {
  padding: 0;
  margin: 0;
}

.main__title {
  font-family: shrikhand, cursive;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.form__input {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}

.reservation__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

.reservation__description {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

.reservation__button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}

.functionnement__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: left;
}

.functionnement__card-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}

.functionnement__card-number {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}

.card__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: left;
}

.card__description {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: left;
}

.grid {
  display: grid;
  gap: 16px;
  border: 2px dotted black;
}

.header__title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 89px;
  margin-bottom: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.header__form {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 16px;
  margin-bottom: 6px;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__form .fa-location-dot {
  color: black;
}

.form__input {
  border: none;
  outline: none;
  background: transparent;
  width: 30%;
  color: #000;
}
.form__input::-moz-placeholder {
  color: #353535;
}
.form__input::placeholder {
  color: #353535;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 39px 34px 10px 34px;
}
.reservation__title {
  margin-bottom: 12px;
}
.reservation__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 27px;
}
.reservation__button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.functionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 34px 68px 20px;
}
.functionnement__title {
  margin-bottom: 12px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 48px 34px 68px 20px;
}

.functionnement__card {
  display: flex;
  align-items: center;
}
.functionnement__card__text {
  padding: 28px 38px 28px 27px;
}
.functionnement__card__content {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  margin-left: -12px;
  display: flex;
  align-items: center;
}
.functionnement__card__number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.fa-solid {
  color: #7E7E7E;
  margin-left: 33px;
}
.fa-solid.fa-store {
  color: #9356DC;
}

.restaurants__title {
  margin-bottom: 20px;
}
.restaurants__cards__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.restaurants__badge {
  background-color: red;
}
.restaurants__card__image img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.restaurants__card__like {
  font-size: 22px;
}
.restaurants .card__title {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants .card__description {
  color: #353535;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.reservation__button {
  color: white;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 124%);
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 54px;
}/*# sourceMappingURL=main.css.map */