.card {

    background-color: $primaryColor;
    border-radius: 20px;
    padding: 8px;

    &__image {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    &__content {
        padding: 0 16px;
    }

    &__title {
        font-family: $titleFont;
        font-size: 20px;
    }

    &__description {
        font-size: 14px;
        font-family: $currentFont;
    }

}

.card__2 {
    font-size: large;
    color: aqua;
}