.loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: loaderFadeOut 1500ms ease forwards;
}

.loader__text {
  --letters: 9;
  --step: 9ch;

  width: var(--step);
  overflow: hidden;
  white-space: nowrap;
  color: transparent;

  font-weight: 700;
  font-family: $titleFont;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: var(--step);

  animation: l17 1500ms linear forwards;
}

.loader__text::before {
  content: "ohmyfood";
}

@keyframes l17 {
   0% {text-shadow:
        calc( 0*var(--step)) -1.2em #000,calc(-1*var(--step)) -1.2em #000,calc(-2*var(--step)) -1.2em #000,calc(-3*var(--step)) -1.2em #000,calc(-4*var(--step)) -1.2em #000,
        calc(-5*var(--step)) -1.2em #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   6% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) -1.2em #000,calc(-2*var(--step)) -1.2em #000,calc(-3*var(--step)) -1.2em #000,calc(-4*var(--step)) -1.2em #000,
        calc(-5*var(--step)) -1.2em #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   12% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) -1.2em #000,calc(-3*var(--step)) -1.2em #000,calc(-4*var(--step)) -1.2em #000,
        calc(-5*var(--step)) -1.2em #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   18% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) -1.2em #000,calc(-4*var(--step)) -1.2em #000,
        calc(-5*var(--step)) -1.2em #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   24% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) -1.2em #000,
        calc(-5*var(--step)) -1.2em #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   30% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) -1.2em #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   36% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) -1.2em #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   42% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) 0      #000,calc(-7*var(--step)) -1.2em #000,calc(-8*var(--step)) -1.2em #000}
   48% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) 0      #000,calc(-7*var(--step)) 0      #000,calc(-8*var(--step)) -1.2em #000}
   54%, 70% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) 0      #000,calc(-7*var(--step)) 0      #000,calc(-8*var(--step)) 0      #000}
   76% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) 0      #000,calc(-7*var(--step)) 0      #000,calc(-8*var(--step)) 1.2em #000}
   82% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) 0      #000,calc(-7*var(--step)) 1.2em #000,calc(-8*var(--step)) 1.2em #000}
   88% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 0      #000,
        calc(-5*var(--step)) 0      #000,calc(-6*var(--step)) 1.2em #000,calc(-7*var(--step)) 1.2em #000,calc(-8*var(--step)) 1.2em #000}
   94% {text-shadow:
        calc( 0*var(--step)) 0      #000,calc(-1*var(--step)) 0      #000,calc(-2*var(--step)) 0      #000,calc(-3*var(--step)) 0      #000,calc(-4*var(--step)) 1.2em #000,
        calc(-5*var(--step)) 1.2em #000,calc(-6*var(--step)) 1.2em #000,calc(-7*var(--step)) 1.2em #000,calc(-8*var(--step)) 1.2em #000}
   100% {text-shadow:
        calc( 0*var(--step)) 1.2em #000,calc(-1*var(--step)) 1.2em #000,calc(-2*var(--step)) 1.2em #000,calc(-3*var(--step)) 1.2em #000,calc(-4*var(--step)) 1.2em #000,
        calc(-5*var(--step)) 1.2em #000,calc(-6*var(--step)) 1.2em #000,calc(-7*var(--step)) 1.2em #000,calc(-8*var(--step)) 1.2em #000}
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}