@mixin main__title($size: 30px) {
  
  font-family: $titleFont;
  font-weight: 400;
  font-size: $size;
  text-align: center;
  
}

@mixin shadow($x: 0px, $y: 2px, $blur: 4px, $spread: 0px, $color: #00000026) {

  box-shadow: $x $y $blur $spread $color;

}

@mixin form__input($size: 16px) {

  font-family: $currentFont;
  font-weight: 500;
  text-align: center;

}

@mixin title($size: 24px, $weight: 700, $align: center) {

  font-family: $currentFont;
  font-weight: $weight;
  text-align: $align;

}