$primaryColor: #9356DC;
$secondaryColor: #003A68;
$tertiaryColor: #89C8FA;
$quaternaryColor: #008766;
$quinaryColor: #99E2D0;
$gradientColor: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 124%);
$backgroundColor: #FFFFFF;
$headerDarkColor: #EAEAEA;
$backgroundColorLightGrey: #F3F3F3;
$backgroundColorDarker: #353535;
$titleFont: shrikhand, cursive;
$currentFont: Roboto, Arial, Helvetica, sans-serif;
