.footer {
    background-color: $backgroundColorDarker;
    padding: 22px 25px 40px 25px;

    &__title {
        padding-bottom: 16px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        i {
<<<<<<< HEAD
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19px;
            color: white;
=======
            color: white;
            width: 19px;
            height: 19px;
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
            margin: 0;
        }

    }
}