.footer {
    background-color: $backgroundColorDarker;
    padding: 22px 25px 40px 25px;
            @include desktop {
    padding: 64px 25px 30px 25px;
        }

    &__title {
        padding-bottom: 16px;
                    @include desktop {
        padding-bottom: 6px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19px;
            color: white;
            margin: 0;
        }

        @include desktop {
            display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 35px;
padding-right: 45px;
        }


    }

        @include desktop {
            display: flex;
                flex-direction: row-reverse;
                gap: 20px;
padding-right: 205px;
        }

}