.footer {
    background-color: $backgroundColorDarker;
    padding: 22px 25px 40px 25px;

    &__title {
        padding-bottom: 16px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        i {
            color: white;
            width: 22px;
        }
    }
}