.header__title__content {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 89px;
    z-index: 2;
    @include shadow(0px, 2px, 4px, 0px, #00000026);

}

.header__form {
    
    display: flex;
    justify-content: center;
    background-color: $headerDarkColor;
    padding: 16px;
    gap: 16px;
    z-index: 1;
    @include shadow(0px, 4px, 4px, 0px, #00000040);
    

    .fa-location-dot {
        
        margin: 0 135px 0 0;
        color: black;
    }

}

.form__input {

    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    margin: 0 0 0 35px;
    position: absolute;

        &::placeholder {
            
            color: $backgroundColorDarker;

      }
}

header .fa-arrow-left {
    position: absolute;
    top: 25px;
    font-size: 25px;
    color: #353535;
    z-index: 3;
}