.photo__pages__image {
  overflow: hidden;
  position: relative;
  z-index: 0;
<<<<<<< HEAD
  height: 275px;
=======
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}

<<<<<<< HEAD
.photo__pages__image--position img {
object-position: center 52%;
}

=======
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
.menu {
  background-color: $backgroundColorLightGrey_2;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    padding: 0 0 0 17px;
  }

  &__like {
    position: relative;
    background: transparent;
    border: none;
  }

  .heart--empty,
  .heart--full {
    position: absolute;
    top: -14px;
    right: 0;
    margin: 0;
    font-size: 24px;
    padding-right: 41px;
  }

  .heart--full {
    background: $gradientColor;
    background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.menu__group {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    margin: 40px 0 0 13px;
    padding-bottom: 8px;
    width: fit-content;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 3px;
      background-color: #99E2D0;
    }
  }
}

.menu__item {
  display: flex;
  margin: 0 13px;
  background: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
  overflow: hidden;
}

.menu__item__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 13px;
<<<<<<< HEAD
  box-sizing: border-box;
=======
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
}

.menu__item__text {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  overflow: hidden;
  align-items: flex-start;
  width: 100%;
  transition: width 250ms ease;
}

.menu__item__title {
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__item__description {
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
=======
}

.menu__item__title {
  display: flex;
  margin: 0 0 5px 0;
}

.menu__item__description {
  display: flex;
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
}

.menu__item__price {
  color: #353535;
  align-self: flex-end;
<<<<<<< HEAD
  transition: margin-right 450ms ease;
}

.menu__item__check {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
=======
  transition: transform 0.3s ease;
}

.menu__item__check {
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  background-color: #99E2D0;
  margin-right: -59px;
<<<<<<< HEAD
  transition: margin-right 450ms ease;
=======
  transition: margin-right 500ms ease;
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f

  i {
    color: white;
    font-size: 20px;
<<<<<<< HEAD
    margin: auto;
=======
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
  }
}

.menu__item:hover .menu__item__check {
  margin-right: 0;
}

<<<<<<< HEAD
.menu__item:hover .menu__item__price {
  margin-right: 59px;
}

.menu__item:hover .menu__item__text {
  width: 65%;
}

=======
>>>>>>> fd11ac164944b76774d6f4ce40b955d7b246045f
.commande {
  background: $backgroundColorLightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px 34px 10px 34px;
}
